// users setting page
.panel.panel-default {
    border-color: #eaeef1;
}

.panel.panel-default > .panel-heading,
.panel.panel-default > .panel-footer {
  border-color: #eaeef1;
}

.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.font-bold {
  font-weight: 700;
}

.panel-body {
  padding: 15px;
  color: #788288;
}

.split-line {
	height: 2px;
	border-bottom: 1px dashed #eaeef1;
	margin:15px -15px 15px -15px;
}